.profile-layout{
    -fx-background-color: #CCDDFF;
    -fx-background-radius: 0 0 50 50;
}
.button{
    -fx-background-color: #F7F09B;
    -fx-background-radius: 50;
}

.white-background {
    -fx-background-color:#fff ;
}
.blue-background {
    -fx-background-color:#CCDDFF;
}






.table-view {
    -fx-background-color: #F7F09B; /* Background color */
}

.table-view .column-header-background {
    -fx-background-color: #EEBBDF; /* Header background color */
}

.table-view .column-header {
    -fx-text-fill: white; /* Header text color */
    -fx-font-size: 14px; /* Header font size */
    -fx-font-weight: bold; /* Header font weight */
    -fx-alignment: center; /* Header text alignment */
}

.table-row-cell {
    -fx-background-color: #fff; /* Row background color */
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9; /* Alternate row background color */
}

.table-row-cell:selected {
    -fx-background-color: #cce6ff; /* Selected row background color */
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #000; /* Selected row text color */
}

/* Hover effect */
.table-row-cell:hover {
    -fx-background-color: #f0f0f0; /* Hover row background color */
}

/* Cell padding */
.table-cell {
    -fx-padding: 8px; /* Padding for cells */
}

